<section class="add">
	<div class="tool-url-add">
        <span class="tool-description-add">
            {% if page.type == "home" %}        
            {% endif %}
            <p class="small"><h4>If you're comfortable using GitHub, you can add a tool using the web interface. This creates a pull request we can merge in automatically.</h4></p>
            <section class="color-4">				
				<p>
					<a class="tool-add" href="https://github.com/keighleykodric/toomanydesign.tools#how-to-add-tool-the-easy-way">
						<button class="btn btn-green btn-greeni icon-arrow-right">Add Tool Using Github</button>
					</a>
				</p>
			</section>
		</span> 
	</div>		
</section>
   