<section>
    <h1><a href="code.html">Code Editing</a></h1>    
    <p>Code Editing Software</p>    
    <ul class="tools tool-type-code">        
        {% assign code = site.toolcode | sort: 'title' %}        
        {% for code in code %}
        <li class="tool {{ code.status }}">
            <a href="{{ code.link }}" class="tool-url" target="_blank">
            <h2 class="tool-title">{{ code.title }}</h2>
                {% if page.type += "home" %}
                    {% if code.image %}<img src="/images/screenshots/{{ code.image }}" alt="{{ code.image }}"/>{% endif %}
                {% elsif code.status == "popular" %}
                    {% if code.image %}<img src="/images/screenshots/{{ code.image }}" alt="{{ code.image }}"/>{% endif %}
                {% endif %}
                <span class="tool-description">                    
                    {{ code.content }}
                    {% if code.author %}<p class="tool-author">By <strong>{{ code.author }}</strong></p>{% endif %}
                    {% if code.publisher %}<p class="tool-publisher">Published on <strong>{{ code.site }}</strong></p>{% endif %}
                </span>
            </a>
        </li>
        {% endfor %}        
    </ul>
</section>