<section>
    <h1><a href="mobile.html">Mobile Protoyping</a></h1>    
    <p>For creating interactive designs on mobile devices</p>    
    <ul class="tools tool-type-mobile">        
        {% assign mobile = site.toolmobile | sort: 'title' %}        
        {% for mobile in mobile %}
        <li class="tool {{ mobile.status }}">
            <a href="{{ mobile.link }}" class="tool-url" target="_blank">
            <h2 class="tool-title">{{ mobile.title }}</h2>
                {% if page.type += "home" %}
                    {% if mobile.image %}<img src="/images/screenshots/{{ mobile.image }}" alt="{{ mobile.image }}"/>{% endif %}
                {% elsif mobile.status == "popular" %}
                    {% if mobile.image %}<img src="/images/screenshots/{{ mobile.image }}" alt="{{ mobile.image }}"/>{% endif %}
                {% endif %}
                <span class="tool-description">                    
                    {{ mobile.content }}
                    {% if mobile.author %}<p class="tool-author">By <strong>{{ mobile.author }}</strong></p>{% endif %}
                    {% if mobile.publisher %}<p class="tool-publisher">Published on <strong>{{ mobile.site }}</strong></p>{% endif %}
                </span>
            </a>
        </li>
        {% endfor %}                
    </ul>
</section>